body {
  padding: 0;
  margin: 0;
  color: #42393a;
  background-image: url("./img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  z-index: 1;

  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas:
    "header  main side-footer"
    "nav main  side-footer"
    "nav  main  side-footer";
}

/* Header */
.header {
  user-select: none;
  display: flex;
  grid-area: header;
  background-color: transparent;
  margin-right: 50px;
  min-height: 180px;
}

.header h1 {
  font-size: 2em;
}

#logo {
  width: 150px;
  height: 150px;
  padding: 20px;
  border-radius: 100%;
  position: absolute;
}

.inactive #logo {
  opacity: 0.7;
}

.inactive #logo:hover {
  opacity: 1;
}
.active #logo:hover {
  opacity: 0.7;
}

#logo:hover {
  cursor: pointer;
}

.active {
  transform: rotateY(-1turn);
  transition: 300ms;
}

.inactive {
  transform: rotateY(1turn);
  transition: 300ms;
}

/* Nav */
.nav {
  display: flex;
  grid-area: nav;
  margin-right: 50px;
  min-width: 180px;
}

.nav link {
  text-decoration: none;
}

.nav-links::-webkit-scrollbar {
  display: none;
}

.active {
  background-color: #bc0531;
}

.inactive {
  background-color: transparent;
}

.nav li {
  list-style-type: none;
  margin-top: 10px;
  margin-left: -40px;
  margin-right: 0px;
  /* min-width: 180px; */
  text-align: left;
  color: white;
  padding: 1vh 7vw 1vh 2vw;
  user-select: none;
}

.nav li:hover {
  background-color: white;
  color: rgb(188, 5, 49);
  cursor: pointer;
  box-shadow: 3px 3px 2px #42393a;
}

/* Main */
.main {
  display: flex;
  height: 100vh;
  grid-area: main;
  margin: 0px 10vw 0px 10vw;
  position: absolute;
}
.articles-list {
  display: flex-grow;
  overflow: auto;
  width: 50vw;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -2vw;
}

.articles-list::-webkit-scrollbar {
  display: none;
}

/* Login */
.login {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 55vh;
  width: 25vw;
  z-index: 10;
  background: rgba(255, 255, 255, 0.644);
  border: 2px solid #1c3144;
  box-shadow: 0 0 20px #42393a;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  align-items: center;
  padding: 20px;
}
#login-logo {
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
  padding: 20px;
  border-radius: 100%;
  /* position: absolute; */
  flex-grow: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  box-shadow: 0 0 20px #42393a;
}

#login-form {
  margin: 30px;
  flex-grow: 6;
}

#login-form label {
  display: block;
}

#login-form input {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#login-form button {
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgba(94, 158, 60, 0.8);
  border: none;
}
#login-form button:hover {
  cursor: pointer;
  opacity: 0.6;
  box-shadow: 0 0 5px #42393a;
}

.form-error {
  color: #bc0531;
  font-size: 0.7em;
}

/* Loader */
.main #loading {
  display: flex-grow;
  margin: auto;
  margin-top: 44vh;
  user-select: none;
}

.grey-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9;
  background-color: rgba(66, 57, 58, 0.7);
  transition: 300ms;
}

.articles-list li {
  list-style-type: none;
  margin: 20px;
  background-color: rgba(89, 111, 98, 0.8);
  border: 2px solid #596f62;
}

.article-card {
  display: flex;
  box-shadow: 2px 2px 10px #42393a;
  color: rgba(255, 255, 255, 0.644);
}

#heart {
  max-width: 30px;
  min-height: 25px;
  background: linear-gradient(
    to bottom right,
    rgba(188, 5, 49, 0.8),
    rgba(141, 3, 35, 0.8),
    rgba(141, 3, 35, 0.8),
    rgba(70, 2, 18, 0.8)
  );
  padding: 20px;
  border-radius: 100%;
}

#heart:hover {
  cursor: pointer;
  opacity: 0.7;
}

.article-card h4 {
  font-size: 1.2em;
}
.article-card:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 5px 5px 20px #42393a;
  transition: 200ms;
}

.article-card .card-content {
  text-align: right;
  padding: 5px 20px 5px 5px;
  flex-grow: 3;
  max-height: 1vh;
}

.article-card .placeholder {
  margin: 20px;
  flex-grow: 1;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  background-color: rgba(28, 49, 68, 0.6);
  border: 2px solid #1c3144;
}

.row {
  height: 70vh;
  display: flex;
}

/* Side and Footer */
.side-footer {
  display: flex;
  flex-direction: column-reverse;
  grid-area: side-footer;
  padding: 30px;
  margin-left: 50px;
  margin-bottom: 0;
  margin-top: 70vh;
}

.side-footer #add-button {
  background: #5e9e3c;
  opacity: 0.7;
  justify-content: center;
  font-size: 4em;
  color: white;
  margin: 10px;
  text-align: center;
  max-height: 85px;
  max-width: 85px;
  min-height: 85px;
  min-width: 85px;
  border-radius: 100%;
  user-select: none;
  box-shadow: 0 0 10px #42393a;
  transform: rotate(-90deg);
  transition: 500ms;
}

.side-footer #settings {
  display: flex;
  background: #1c3144;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  color: white;
  margin: 10px;
  text-align: center;
  max-height: 85px;
  max-width: 85px;
  min-height: 85px;
  min-width: 85px;
  border-radius: 100%;
  user-select: none;
  box-shadow: 0 0 10px #42393a;
  transform: rotate(-180deg);
  transition: 500ms;
}

.side-footer #settings img {
  width: 60px;
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: invert(1);
  /* width: 40%; */
}

.side-footer #settings:hover {
  cursor: pointer;
  opacity: 1;
  transform: rotate(90deg);
  transition: 500ms;
}

.side-footer #add-button:hover {
  cursor: pointer;
  opacity: 1;
  transform: rotate(90deg);
  transition: 500ms;
}

/* Focus Card */
.focus-card {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: -230px;
  margin: auto;
  height: 80vh;
  width: 85vw;
  z-index: 10;
  background-color: rgba(28, 49, 68, 0.7);
  border: 4px #1c3144 solid;
  box-shadow: 4px 4px 20px #42393a;
  color: white;
}

.focus-card .card-content {
  text-align: right;
  padding: 5px 20px 5px 5px;
  flex-grow: 3;
  overflow: auto;
  margin: 20px;
}
.focus-card .card-content::-webkit-scrollbar {
  display: none;
}

.focus-card .placeholder {
  margin: 30px;
  margin-left: 50px;
  flex-grow: 1;
  min-width: 350px;
  max-width: 350px;
  min-height: 350px;
  max-height: 350px;
  background-color: rgba(201, 183, 23, 0.6);
  border: 2px solid rgb(201, 183, 23);
}

.card-buttons {
  display: flex;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
}

.vote {
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-content: center;
  max-height: 45px;
  max-width: 45px;
  min-height: 45px;
  min-width: 45px;
  background: #bc0531;
  opacity: 0.7;
  border-radius: 100%;
  margin: 10px;
}

.vote .clicked {
  display: none;
  transition: 500ms;
}

.vote #heart-focus {
  padding-top: 0px;
  width: 30px;
  height: 25px;
}
.vote:hover {
  cursor: pointer;
  opacity: 1;
  transition: 300ms;
}

.comment-button {
  outline: none;
  border: none;
  background: #5e9e3c;
  display: flex;
  align-content: center;
  opacity: 0.7;
  justify-content: center;
  font-size: 2.3em;
  color: white;
  margin: 10px;
  text-align: center;
  max-height: 45px;
  max-width: 45px;
  min-height: 45px;
  min-width: 45px;
  border-radius: 100%;
  user-select: none;
  box-shadow: 0 0 10px #42393a;
  transform: rotate(-90deg);
  transition: 500ms;
}

.comment-button:hover {
  cursor: pointer;
  opacity: 1;
  transform: rotate(90deg);
  transition: 500ms;
}

.edit-button {
  outline: none;
  border: none;
  background: #1c3144;
  display: flex;
  align-content: center;
  opacity: 0.7;
  justify-content: center;
  font-size: 2.2em;
  color: white;
  margin: 10px;
  text-align: center;
  max-height: 45px;
  max-width: 45px;
  min-height: 45px;
  min-width: 45px;
  border-radius: 100%;
  user-select: none;
  box-shadow: 0 0 10px #42393a;
  transform: rotate(-90deg);
  transition: 500ms;
}

.edit-button img {
  width: 40px;
  padding-bottom: 0px;
  display: block;
  filter: invert(1);
}

.edit-button:hover {
  cursor: pointer;
  opacity: 1;
  transform: rotate(90deg);
  transition: 500ms;
}

.delete-button {
  outline: none;
  border: none;
  background: white;
  display: flex;
  align-content: center;
  opacity: 0.7;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 3em;
  color: #42393a;
  margin: 10px;
  text-align: center;
  max-height: 45px;
  max-width: 45px;
  min-height: 45px;
  min-width: 45px;
  border-radius: 100%;
  user-select: none;
  box-shadow: 0 0 10px #42393a;
  transform: rotate(-180deg);
  transition: 500ms;
}

.delete-button.open {
  transform: rotate(-90deg);
  transition: 500ms;
}

.delete-button:hover {
  cursor: pointer;
  opacity: 1;
  transform: rotate(180deg);
  transition: 500ms;
}
.options-container {
  width: 8vw;
  height: 3vh;
}
.delete-options {
  width: 8vw;
  height: 3vh;
  background-color: rgba(201, 183, 23, 0.6);
  border: 2px solid rgb(201, 183, 23);
  margin: 3px;
  transition: 300ms;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: white;
  font-size: 1em;
}

.delete-options:hover {
  opacity: 0.5;
}

.delete-options.closed {
  display: none;
  transform: translateX(-100px);
}

.delete-options.open {
  display: flex;
  /* transform: translateX(100px); */
}

.focus-card h5 {
  position: relative;
  margin: auto;
  margin-top: 100px;
  font-size: 7em;
}

/* Comment Section */

.wrapper {
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  height: 30%;
  width: 90%;
}
.comment-reel {
  display: flex;
  background-color: transparent;
  margin: 0 20px 20px 0px;
}
.comment-card {
  flex: 1;
  height: 150px;
  color: white;
  font-size: 1.3em;
  user-select: none;
  overflow: auto;
  text-align: right;
}

.comment-card .comm-auth {
  font-size: 0.7em;
}

.comment-card::-webkit-scrollbar {
  display: none;
}
.comment-reel button {
  outline: none;
  width: 50px;
  margin: 20px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 6em;
  cursor: pointer;
  opacity: 0.8;
  user-select: none;
}

.comm-deets {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}
.comm-stats {
  margin: 5px;
  flex-grow: 8;
}

.comm-butts {
  text-align: center;
  width: 30px;
  margin: 5px;
  border: #596f62;
  flex-grow: 1;
}

.comm-auth {
  margin: 5px;
  margin-top: 0;
  padding: 10px;
}
.comm-butts .comm-auth:hover {
  cursor: pointer;
  background: rgba(94, 158, 60, 0.5);
  transition: 400ms;
}

.comment-reel #post {
  font-size: 4em;
}

.comment-reel #post:hover {
  opacity: 0.2;
}

.comment-reel input {
  width: 60vw;
  opacity: 0.8;
}

.add-article {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0px;
  left: 0;
  margin: auto;
  height: 40vh;
  width: 40vw;
  z-index: 10;
  background: white;
  opacity: 0.7;
  border: 4px rgb(66, 57, 58) solid;
  box-shadow: 4px 4px 20px #42393a;
  color: #1c3144;
  transition: 500ms;
}
